<?xml version="1.0"?>
<!--
/**
 * Magento Custom Form Elements Module Configuration
 *
 * @category  Aligent
 * @package   CustomFormElements
 * @author    Jim O'Halloran <jim@aligent.com.au>
 * @copyright 2014 Aligent Consulting.
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      http://www.aligent.com.au/
 */
-->
<config>
    <modules>
        <Aligent_CustomFormElements>
            <version>0.0.1</version>
        </Aligent_CustomFormElements>
    </modules>
    <global>
        <models>
            <aligent_customformelements>
                <class>Aligent_CustomFormElements_Model</class>
                <resourceModel>aligent_customformelements_resource</resourceModel>
            </aligent_customformelements>
            <aligent_customformelements_resource>
                <class>Aligent_CustomFormElements_Model_Resource</class>
            </aligent_customformelements_resource>
        </models>
        <blocks>
            <aligent_customformelements>
                <class>Aligent_CustomFormElements_Block</class>
            </aligent_customformelements>
        </blocks>
        <helpers>
            <aligent_customformelements>
                <class>Aligent_CustomFormElements_Helper</class>
            </aligent_customformelements>
        </helpers>
        <resources>
            <aligent_customformelements_setup>
                <setup>
                    <module>Aligent_CustomFormElements</module>
                </setup>
            </aligent_customformelements_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <catalog_product_attribute_update_before>
                <observers>
                    <aligent_customformelements>
                        <class>aligent_customformelements/observer</class>
                        <method>catalogProductAttributeUpdateBefore</method>
                    </aligent_customformelements>
                </observers>
            </catalog_product_attribute_update_before>
        </events>
    </adminhtml>
</config>